#bg{
    background: linear-gradient(to bottom right, #90979e, #070707);
}

.form-group .input-group .input[type="text"]:focus{
    border: none !important;
    outline: none !important;
}

.form-check{
    padding-left:0px;
    margin-left:0px;
}