<div class="container-fluid vh-100 ">
    <div class="row" style="height: inherit; width: 100%;">
        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-start px-4" id="bg">
            <h3 class="text-white text-uppercase m-0 mb-1">Project Mangaement System</h3>
            <p class="m-0 text-white h5">Admin Dashboard</p>
            <ul class="list-group mt-5 text-white" style="list-style-type: none; margin: 0; padding: 0;">
                <li>Manage Dynamic Content For Your Website</li>
                <li>An Optimal, Reliable and Dynamic Web Backend</li>
                <li>Modern Secure Interface based on Google Cloud</li>
            </ul>
        </div>

        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center">
            <div class="card w-75 shadow-sm ">
                <div class="card-header bg-white border-0">
                   <h3 class="text-center m-0">Login</h3>
                </div>

                <div class="card-body">
                    <form>
                            <div class="form-group col-12 mt-2">
                              <label for="inputEmail3" class="col-form-label" >Email</label>
                              <input type="email" class="form-control" id="email" autocomplete="off" aria-describedby="email" placeholder="eg: abc@example.com" required>
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>

                            <div class="form-group col-12 mt-2">
                              <label for="inputPassword3" class="col-form-label">Password</label>
                              <input type="password" class="form-control" id="password" autocomplete="off" aria-describedby="password" placeholder="Enter your password" required>
                            </div>

                            <div class="form-check form-group mt-2">
                                <input class="form-check-input" type="checkbox" id="remember">
                                <label class="form-check-label" for="remember"> 
                                  Remember me
                                </label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <a href="/register" class="badge text-bg-warning">Sign Up Here.</a>

                            </div>
                           
                            <button type="submit" class="btn btn-dark mt-2 col-12">Sign in</button>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
    
</div>